@import "~bootstrap/scss/bootstrap";
@mixin text {
  list-style: none;
  text-decoration: none;
}
.nav-container {
  padding-left: 10%;
  font-size: 60px;
  letter-spacing: -0.6rem;
  font-family: "Great Vibes", serif;
  .nav-tab {
    border: none;
  }
}
