.section1-container{
  width: 100%;
  margin: 0 auto;
  h3{
    width: 100%;
    margin: 0 auto;
  }
  .new-card{
    width: 100%;
    margin: 0 auto;
    .new-card-container{
      width: 400px; height: 600px;
      border: 1px solid lightgray;
      display: flex;
      justify-content: center;
      .new-card-show{
        dt{}
        dd{}
      }
    }
  }
}
