.slide-container{
  width: 90%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  .slide-show{
    position: absolute;
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
    .slide-img{
    }
  }
}